@{
	ViewBag.Title = "";
}

<h2>Results</h2>
<div>
	<img src="/Content/transient.png" alt="" />
	<br />
	<img src="/Content/singleton.png" alt="" />

	<br />
	The tests were performed on a Intel Core2 Quad (Q9550) 2.83 ghz with 8 GB of Memory running Windows 7 64-bit.
	<br />	
	<br />
	Please note, that the only focus of these tests are two basic features of any IOC Container.
	<br />
	Every Container have their strengths and weaknesses and comes with a different feature set.
	<br />
	Choosing a Container is not only about performance but also about about being able to get the job done.
</div>

<h2>IOC Containers Tested</h2>
<div>
	<ul>
		<li>
			<a href="http://www.castleproject.org/container/">Windsor v2.5.1</a>
		</li>
		<li>
			<a href="http://ninject.org/">Ninject v2.1.0.76</a>
		</li>
		<li>
			<a href="http://unity.codeplex.com/">Unity v2.0</a>
		</li>
		<li>
			<a href="http://structuremap.net/structuremap/">StructureMap v2.6.1.0</a>
		</li>
		<li>
			<a href="http://code.google.com/p/autofac/">Autofac v2.2.4.900</a>
		</li>
		<li>
			<a href="http://www.dynamoioc.com">Dynamo v1.0 (beta)</a>
		</li>
	</ul>
</div>

<h2>Source code</h2>
<div>You can download the source code from <a href="https://github.com/MartinF/IOCBattle">GitHub</a> and run the tests yourself if you like.</div>

<h2>Who</h2>
<div>
	My name is Martin From, and i am from Denmark. You can contact me by sending me an <a href="mailto:from&#64;pc.dk">Email</a>.
	<br />
	To avoid any confusion, i am the creator of the Dynamo IOC Container included in the tests.
</div>